#image {
    width: 50%;
    border-radius: 50%;
    display: block;
    margin: auto;
    opacity: 0.9;

}

p {
    font-family: sans-serif;
    text-align: justify;
    padding: 10px;
    margin: 30px 10px; 
    font-weight: 500;
    line-height: 25px;
}

#title {
    text-align: center;
    font-size: 50px;
    background-color: rgba(45, 45, 45, 0.5);
    text-transform: uppercase;
    
}

#img-caption {
    text-align: center;
    font-family: monospace;
}

#tribute-link {
    text-decoration: none;
}

a:hover {
    color: green;
}


    

